doctype html
html
	head
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
		link(href="/style.css", rel="stylesheet")
		title Your HexagonJS app is up and running
	body

		.container
			.page-header
				h1 Your HexagonJS app is up and running 	
      		p.lead
				Now you can experiment with it!

		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")


